#site-header > nav > div.order-1.ml-auto.flex.items-center.md\:order-2.lg\:ml-0 > a {
    margin-right: 10px;
}

#site-header > nav > label {
    display: none;
}

#cartaz {
    padding-top: 0;
    padding-bottom: 0;
}
#top > div.page-footer > footer {
    padding-top: 2em;
}

#top > div.page-body {
    background-color: #323232;
}
